.body {
    margin-left: 0;
    margin-right: 0;
}

p.name {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: #2d2d2d;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

hr.header {
    margin-bottom: 15px;
    margin-top: 15px;
}

.navigation {
    background: cornflowerblue;
    padding: 30px;
}

.navigation a {
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background: orange;
    border-radius: 4px;
}